.circle {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0 0 35px #2187e7;
  -ms-box-shadow: 0 0 35px #2187e7;
  -o-box-shadow: 0 0 35px #2187e7;
  -moz-box-shadow: 0 0 35px #2187e7;
  -webkit-box-shadow: 0 0 35px #2187e7;
  animation: spinPulse 1s infinite ease-in-out;
  -ms-animation: spinPulse 1s infinite ease-in-out;
  -o-animation: spinPulse 1s infinite ease-in-out;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite ease-in-out;
}
.circle1 {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  box-shadow: 0 0 15px #2187e7;
  -ms-box-shadow: 0 0 15px #2187e7;
  -o-box-shadow: 0 0 15px #2187e7;
  -moz-box-shadow: 0 0 15px #2187e7;
  -webkit-box-shadow: 0 0 15px #2187e7;
  position: relative;
  top: -50px;
  animation: spinoffPulse 1s infinite linear;
  -ms-animation: spinoffPulse 1s infinite linear;
  -o-animation: spinoffPulse 1s infinite linear;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear;
}
.spin_keyframes 0% {
  transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -webkit-transform: rotate(160deg);
  opacity: 0;
  box-shadow: 0 0 1px #2187e7;
  -ms-box-shadow: 0 0 1px #2187e7;
  -o-box-shadow: 0 0 1px #2187e7;
  -moz-box-shadow: 0 0 1px #2187e7;
  -webkit-box-shadow: 0 0 1px #2187e7;
}
.spin_keyframes 50% {
  transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
  opacity: 1;
}
.spin_keyframes 100% {
  transform: rotate(-320deg);
  -ms-transform: rotate(-320deg);
  -o-transform: rotate(-320deg);
  -moz-transform: rotate(-320deg);
  -webkit-transform: rotate(-320deg);
  opacity: 0;
}
.spinoff_keyframes 0% {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.spinoff_keyframes 100% {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
@keyframes spinPulse {
  0% {
    transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
    -ms-box-shadow: 0 0 1px #2187e7;
    -o-box-shadow: 0 0 1px #2187e7;
    -moz-box-shadow: 0 0 1px #2187e7;
    -webkit-box-shadow: 0 0 1px #2187e7;
  }
  50% {
    transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-320deg);
    -ms-transform: rotate(-320deg);
    -o-transform: rotate(-320deg);
    -moz-transform: rotate(-320deg);
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@keyframes spinoffPulse {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes spinPulse {
  0% {
    transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
    -ms-box-shadow: 0 0 1px #2187e7;
    -o-box-shadow: 0 0 1px #2187e7;
    -moz-box-shadow: 0 0 1px #2187e7;
    -webkit-box-shadow: 0 0 1px #2187e7;
  }
  50% {
    transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-320deg);
    -ms-transform: rotate(-320deg);
    -o-transform: rotate(-320deg);
    -moz-transform: rotate(-320deg);
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-ms-keyframes spinoffPulse {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes spinPulse {
  0% {
    transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
    -ms-box-shadow: 0 0 1px #2187e7;
    -o-box-shadow: 0 0 1px #2187e7;
    -moz-box-shadow: 0 0 1px #2187e7;
    -webkit-box-shadow: 0 0 1px #2187e7;
  }
  50% {
    transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-320deg);
    -ms-transform: rotate(-320deg);
    -o-transform: rotate(-320deg);
    -moz-transform: rotate(-320deg);
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-o-keyframes spinoffPulse {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinPulse {
  0% {
    transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
    -ms-box-shadow: 0 0 1px #2187e7;
    -o-box-shadow: 0 0 1px #2187e7;
    -moz-box-shadow: 0 0 1px #2187e7;
    -webkit-box-shadow: 0 0 1px #2187e7;
  }
  50% {
    transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-320deg);
    -ms-transform: rotate(-320deg);
    -o-transform: rotate(-320deg);
    -moz-transform: rotate(-320deg);
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-moz-keyframes spinoffPulse {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spinPulse {
  0% {
    transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #2187e7;
    -ms-box-shadow: 0 0 1px #2187e7;
    -o-box-shadow: 0 0 1px #2187e7;
    -moz-box-shadow: 0 0 1px #2187e7;
    -webkit-box-shadow: 0 0 1px #2187e7;
  }
  50% {
    transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-320deg);
    -ms-transform: rotate(-320deg);
    -o-transform: rotate(-320deg);
    -moz-transform: rotate(-320deg);
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-webkit-keyframes spinoffPulse {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
