@import "../bootstrap/less/mixins.less";

// --------------------------------------------------------------------------
// ページ上下ボタン
// --------------------------------------------------------------------------
@arrow_img: '../img/arrow.png';

#movepage {
    position : fixed;
    top      : 75%;

    a {
        padding: 50px;
        display: block;

        font: 11px/100% Ariel, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #bbb;

        .transition(1s);

        &:hover {
            color: #000;
        }
    }

    span {
        padding: 50px 50px;
        display  : block;
        background: #ddd url(@arrow_img) no-repeat center center;

        .border-radius(15px);
        .transition(1s);
        .opacity(90)
    }

    a:hover span {
        background-color: #777;
    }
}

// --------------------------------------------------------------------------
// ローディングアニメーション
// --------------------------------------------------------------------------

@circle_shadow_color: #2187e7;

.animation (@settings) {
    animation         : @settings;
    -ms-animation     : @settings;
    -o-animation      : @settings;
    -moz-animation    : @settings;
    -webkit-animation : @settings;
}

.circle_base (@size) {
    @border_size     : 5px;

    background-color : rgba(0,0,0,0);
    border           : @border_size solid rgba(0, 183, 229, 0.9);
    .opacity(90);
    border-right     : @border_size solid rgba(0, 0, 0, 0);
    border-left      : @border_size solid rgba(0, 0, 0, 0);
    border-radius    : 50px;
    width            : @size;
    height           : @size;
    margin           : 0 auto;
}

.circle {
    .circle_base(50px);
    .box-shadow(0 0 35px @circle_shadow_color);
    .animation(spinPulse 1s infinite ease-in-out);
}

.circle1 {
    .circle_base(30px);
    .box-shadow(0 0 15px @circle_shadow_color);
	position           : relative;
	top                : -50px;
    .animation(spinoffPulse 1s infinite linear);
}

.spin_keyframes {
	0% {
        .rotate(160deg);
        .opacity(0);
        .box-shadow(0 0 1px @circle_shadow_color);
    }
	50% {
        .rotate(145deg);
        .opacity(100);
    }
	100% {
        .rotate(-320deg);
        .opacity(0);
    }
}

.spinoff_keyframes {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}

@keyframes spinPulse {
    .spin_keyframes
}
@keyframes spinoffPulse {
    .spinoff_keyframes
}
@-ms-keyframes spinPulse {
    .spin_keyframes
}
@-ms-keyframes spinoffPulse {
    .spinoff_keyframes
}
@-o-keyframes spinPulse {
    .spin_keyframes
}
@-o-keyframes spinoffPulse {
    .spinoff_keyframes
}
@-moz-keyframes spinPulse {
    .spin_keyframes
}
@-moz-keyframes spinoffPulse {
    .spinoff_keyframes
}
@-webkit-keyframes spinPulse {
    .spin_keyframes
}
@-webkit-keyframes spinoffPulse {
    .spinoff_keyframes
}

// --------------------------------------------------------------------------
